<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuff</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<header>
</header>
<body>
    </div>
    <form action="#">
        <input type="text" name="item" placeholder="Add item ......"> <br>
        <button type="submit">Add Task</button>
    </form>    
        <ul>
            <li>Work on my portfolio</li>
            <br>
            <li> Code and watch anime</li>
            <br>
            <li> Work on my Portfolio</li>
        </ul>
    </div>
    <script src="js/main.js"></script>
</body>
</html>