<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja |task</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Ninja Tasker</h1>
    <div>
        <form action="/tasks" method="POST">
<<<<<<< HEAD
            <input type="text" name = "tasks" placeholder="add item here ....">
=======
            <input type="text" name="task" placeholder="Add item ...">
>>>>>>> a1234abf2f95b710fdabacd56d6fc3d13104b6c0
            <button type="submit">Add Task</button>
        </form>
        <ul>
            <li>Work on my portfolio</li>
            <li>Code and watch anime</li>
            <li>sleep </li>
        </ul>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>