<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
</head>
<body>
    
    <input type="text" placeholder="Add item here">
    <br>
    <br>
    <button type="button">Submit</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <ul>
        <li>Work on my portfolio</li>
        <br>
        <li>Code & watch anime</li>
        <br>
        <li>Work on my portfolio</li>
    </ul>
</body>
</html>