<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks</title>
</head>
<body>
        <input type="text" placeholder="Add item here..."> <br>
        <button>Button</button>
        <br>
        <br>
        <h4>Work on my portfolio</h4>
        <br>
        <h4>Code and watch anime</h4>
        <br>
        <h4>Build my level in GD</h4>
        <br>
</body>
</html>