<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<<<<<<< HEAD
    <title>Ninja |task</title>
=======
    <title>Ninja | Tasks</title>
>>>>>>> e343cc2e04615fbc3f65372bd247a5081db95b7b
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Ninja Tasker</h1>
    <div>
        <form action="#">
<<<<<<< HEAD
            <input type="text" name = "item" placeholder="add item here ....">
=======
            <input type="text" name="item" placeholder="Add item ...">
>>>>>>> e343cc2e04615fbc3f65372bd247a5081db95b7b
            <button type="submit">Add Task</button>
        </form>
        <ul>
            <li>Work on my portfolio</li>
            <li>Code and watch anime</li>
<<<<<<< HEAD
            <li>sleep </li>
=======
            <li>Sleep</li>
>>>>>>> e343cc2e04615fbc3f65372bd247a5081db95b7b
        </ul>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>