<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h4>New Task</h4>
    <textarea name="Task" id="" cols="30" rows="5">Add New Task</textarea>
    <br>
    <input type="submit" name="submit">
<br>
<br>
    <input type="checkbox" name="Tasks" value="Task 1">Task <br>
    <input type="checkbox" name="Tasks" value="Task 2">Task <br>
    <input type="checkbox" name="Tasks" value="Task 3">Task <br>

</body>
</html>