<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuff</title>
</head>
<header>
    <nav>
        <ul>
            <li>
                nav
            </li>
            <li>
                nav
            </li>
            <li>
                nav
            </li>
        </ul>
    </nav>
</header>
<body>
    <input type="Add item here"> <br>
    <input type="button" value="Submit">
    <ul>
        <li>Work on my portfolio</li>
        <br>
        <li> To do Item</li>
        <br>
        <li> To do Item</li>
    </ul>
</body>
</html>