<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <input type="text" class="form-control" placeholder="Add items here .." aria-label="Recipient's username" aria-describedby="button-addon2"><br>
    <button type="button" class="btn btn-primary">Submit</button><br>
    <li>Work on my portfolio</li>
    <input type = "checkbox">
    <li>Code and watch anime</li>
    <input type = "checkbox">
    <li>Work on my portfolio</li>
    <input type = "checkbox">

</head>
<body>
    
</body>
</html>