<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wireframe</title>
</head>
<body>
    <h1>Ninja Tasker</h1>
    <div style="width:1000px;height:300px;border:1px solid #000;">This is a rectangle!>
            <div style="width:500px;height:100px;border:1px solid #000;">This is a rectangle!</div>
            <button type="submit">Add Tasks</button>
        <form action="/action_page.php">
            <input type="text" name="item" placeholder="Add item ....">
            <input type="checkbox" name="checkmark" value="Portfolio">I want to check my portfolio<br>
            <input type="checkbox" name="checkmark" value="Code">I want to run and check my code<br>
            <input type="checkbox" name="checkmark" value="portfolio">I want to edit my own profile<br>
        </form> 
        <ul>
            <li>Work on  portfolio</li>
            <li>Code and watch anime</li>
            <li>Sleep</li>
        </ul>
    </div>
</body>
</html>