<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wireframe</title>
    <title>Ninja | Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<<<<<<< HEAD
<body>
    <h1>Ninja Tasker</h1>
    <div style="width:1000px;height:300px;border:1px solid #000;">This is a rectangle!>
            <div style="width:500px;height:100px;border:1px solid #000;">This is a rectangle!</div>
            <button type="submit">Add Tasks</button>
        <form action="/action_page.php">
            <input type="text" name="item" placeholder="Add item ....">
            <input type="checkbox" name="checkmark" value="Portfolio">I want to check my portfolio<br>
            <input type="checkbox" name="checkmark" value="Code">I want to run and check my code<br>
            <input type="checkbox" name="checkmark" value="portfolio">I want to edit my own profile<br>
        </form> 
        <ul>
            <li>Work on  portfolio</li>
    <div>
        <form action="/tasks" method="POST">
            <input type="text" name="task" placeholder="Add item ...">
            <button type="submit">Add Task</button>
=======
<body class="mt-5">
     <div class="container mx-auto text-center">
        <h1>Ninja Tasker</h1>
        <form action="/tasks" method="POST" class="mt-0">
            <input class="form-control form-control-lg" type="text" name="task" placeholder="Add item ...">
            <button type="submit" class="btn btn-primary btn-lg mt-1 mb-5 btn-block">Add Mission</button>
>>>>>>> a49c729657e91aa5f18ee8e873e98a2e89938cd7
        </form>
        <ul class="list-group list-group-flush mt-5 text-light">
            <li class="list-group-item">Work on my portfolio</li>
            <li class="list-group-item">Code and watch anime</li>
            <li class="list-group-item">Sleep</li>
        </ul>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>